body {
  background-color: #485451;
  color: #adb6b9;
}

.lsd-slider {
  position: relative;
  border-radius: 5px;
  border: solid 1px #52605D;
  background-color: #3F4A48;
  z-index: 1;
  margin: 5px;
}

.lsd-slider .lsd-slider-handle {
  position: absolute;
  z-index: 2;
  width: 16px;
  height: 16px;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
  border-radius: 50%;
}

.lsd-slider .lsd-slider-range {
  position: absolute;
  z-index: 1;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, red, yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, red, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, red, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, red, yellow); /* Standard syntax */
}

.lsd-moon-handle {
  border: 4px solid darkGrey;
  background-color: #FFFDF2;
}

.lsd-sun-handle {
  background-color: #F5EB42;
  border: 4px solid #E4C74D;
}

.sun {
  position: relative;
}

.sun .ray {
  position: absolute;
  width: 21px;
  height: 21px;
  z-index: 1;
  background-color: #FED35D;
}

.sun #ray2 {
  transform: rotate(120deg);
}

.sun #ray3 {
  transform: rotate(240deg);
}

#suncore {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #EAB622;
  box-shadow: inset -2px -1px 0 0 #e89d1c;
  border-radius: 50%;
  z-index: 10;
}